<html>
<head>
	<title>Domi: College housing made easy</title>
</head>
<body>
	<h1>About us</h1>
	<p>
		Domi was born out the frustration of one of our co-founders on how terrible his experience was in getting housing. Funny - or rather not - enough another co-founder had an even worse experience where someone backed out of the agreed rent. So finally they quit b*tching, got some other guys, and built this tool to make sure that neve happens again. 
	</p>
</body>
</html>