<html>
<head>
	<title>Domi: College housing made easy</title>
</head>
<body>
	<h1>Help</h1>
	<p>
		If you have any questions please do not hesitate to contact
		<a href="mailto:madeleke13@gmail.com">Me</a>
		and we will chat as soon as possible. 
	</p>
</body>
</html>