<html>
<head>
	<title>Domi: College housing made easy.</title>
</head>
<body>
	<h1>Domi</h1>
	<p>
		College housing - agony = Domi
	</p>
	<p>
		We are making the process of college housing a ridiclously easy.
	</p>
</body>
</html>